.App {
  background-color: bisque;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 40%;
}

.cardBody {
  text-align: center;
}

.Results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 40%;
}
